In [ ]:




"""Data indexing and selection"""

"""     Data Selection in series"""
"""         Series as dictionary"""
import pandas
data = pandas.Series([0.25, 0.5, 0.75, 1.0],
                     index = ["a", "b", "c", "d"]
                     )
data

In [ ]:

data["b"]

In [ ]:
"a" in data

In [ ]:
data.keys()

In [ ]:
list(data.items())

In [ ]:
data["e"] = 1.25

data

In [ ]:
"""         Series provide array-style item selection"""
"""         But all is implicitly, easy confusion"""
"""             slicing"""
data["a": "c"]

In [ ]:
data[0: 2]

In [ ]:
"""             masking"""
data[(data > 0.3) & (data < 0.8)]

In [ ]:
"""             fancy indexing"""
data[["a", "e"]]

In [ ]:
"""             Indexers: Loc, Iloc, Ix"""
"""                 Friendly, certain, explicit version of selection"""
data = pandas.Series(
    ["a", "b", "c", "d"],
    index = [1, 3, 5, 7]
)
data

In [ ]:
data.loc[1]

In [ ]:
data.loc[1: 3]

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1: 3]

In [1]:
"""         Data selection in DataFrame"""
"""             DataFrame as a dictionary"""
import pandas

area = pandas.Series({'California': 423967, 'Texas': 695662,
                          'New York': 141297, 'Florida': 170312,
                          'Illinois': 149995})
pop = pandas.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})

data = pandas.DataFrame({
    "area": area,
    "pop": pop
})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [2]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [3]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [4]:
data["density"] = data["pop"] / data["area"]
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [5]:
"""                 DataFrame as two dimensional array"""
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [6]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [7]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [8]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [9]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [10]:
data.loc[:"Illinois", :"pop"]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [11]:
"""ix indexer cho phép hybrid selection nhưng dễ gây nhầm lẫn"""
data.ix[:3, :"pop"]

/home/thopham/anaconda3/envs/Abc/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

/home/thopham/anaconda3/envs/Abc/lib/python3.7/site-packages/pandas/core/indexing.py:808: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [13]:
data.loc[data["density"] > 100, ["pop", "density"]]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [15]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [16]:
data["Florida": "Illinois"]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [17]:
data[data["density"] > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121