In [1]:
import pandas
import numpy 

randomer = numpy.random.RandomState(42)
series = pandas.Series(randomer.randint(0, 10, 4))
series

0    6
1    3
2    7
3    4
dtype: int64

In [2]:
"""Ufuncs: Index preservation vs unary operations"""
dataFrame = pandas.DataFrame(randomer.randint(0, 10, (3, 4)),
                             columns = ["A", "B", "C", "D"]
                             )
dataFrame

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [3]:
numpy.exp(series)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [4]:
numpy.sin(dataFrame * numpy.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [5]:
"""Ufuncs: Index alignment vs binary operations"""

"""Index alignment in Series"""
area = pandas.Series({'Alaska': 1723337, 'Texas': 695662,
                         'California': 423967}, name='area')
population = pandas.Series({'California': 38332521, 'Texas': 26448193,
   'New York': 19651127}, name='population')

population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [6]:
"""Item nào mà Series này có nhưng thằng kia không có sẽ được gán giá trị NaN"""
A = pandas.Series([2, 4, 6], index = [0, 1, 2])
B = pandas.Series([1, 3, 5], index = [1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [7]:
"""Các giá trị NaN values thường gây ra các hành vi không mong muốn"""
"""Fill values sử dụng fill_value param"""
A.add(B, fill_value = 0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [8]:
"""Index alignment trong DataFrame"""
"""Xảy ra tương tự cho cả columns và indices khi thực hiện các operations trên DataFrames"""
A = pandas.DataFrame(randomer.randint(0, 20, (2, 2)),
                     columns = list("AB")
)
A

   A   B
0  1  11
1  5   1

In [9]:
B = pandas.DataFrame(randomer.randint(0, 10, (3, 3)), columns = list("BAC"))
B

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In [10]:
A + B

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

In [11]:
A.stack()

0  A     1
   B    11
1  A     5
   B     1
dtype: int64

In [12]:
"""Fill value"""
fill = A.stack().mean()
A.add(B, fill_value = fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

In [13]:
"""UFuncs: Operations between DataFrame and Series"""
"""Index và column alignment cũng tương tự như trên."""
"""Kết quả thì tương tự như 2D và 1D múc nhau"""

A = randomer.randint(10, size = (3, 4))
A

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [14]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-1, -2,  2,  4],
       [ 3, -7,  1,  4]])

In [15]:
dataFrame = pandas.DataFrame(A, columns = list("QRST"))
dataFrame - dataFrame.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

In [16]:
dataFrame.subtract(dataFrame["R"], axis = 0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

In [17]:
halfRow = dataFrame.iloc[0, ::2]
halfRow

Q    3
S    2
Name: 0, dtype: int64

In [18]:
dataFrame - halfRow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN